{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": false
  },
  "rules": {
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "arrow-body-style": ["error", "always"],
  },
  "extends": "airbnb"
}
