<head>
    <meta charset="utf-8">
    <title>2minutes</title>
    <!-- styles -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="/stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
</head>