/* =======================================================================================*/
/*       Import Files and Other Assets*/
/* =======================================================================================*/

@import "./_grid.scss";

/* =======================================================================================*/
/*       Define Variables Here*/
/* ======================================================================================= */

$color-1: #30343c;
$color-2: #8e8aa0;
$color-3: #E04E5B;
$color-4: #cccccc;
$color-5: #909090;
$color-6: #49c349;
$color-7: #f5f5f5;
$color-8: #716496;
$border-radius: 0;
$line-height: 1.6em;
$header-txt: 'Montserrat';
$para-txt: 'Source Sans Pro';

/* =======================================================================================*/
/*       Mixins*/
/* =======================================================================================*/
@mixin walkthrough {
	padding: 5em 0;
}

@mixin heading {
	font-family: $header-txt;
	line-height: $line-height;
	font-size: 1.6em;
	color: $color-3;
	position: relative;
	&:after {
		position: absolute;
		display: block;
		content: '';
		width: 4em;
		height: 2px;
		background-color: $color-2;
		left: 50%;
		margin-left:-2em;
		bottom: -6px; 
	}
}

@mixin headingGenLeft {
	font-family: $header-txt;
	line-height: $line-height;
	font-size: 1.6em;
	color: $color-3;
	position: relative;
	&:after {
		position: absolute;
		display: block;
		content: '';
		width: 4em;
		height: 2px;
		background-color: $color-2;
		left: 0;
		bottom: -6px; 
	}
}

@mixin headingGenRight {
	font-family: $header-txt;
	line-height: $line-height;
	font-size: 1.6em;
	color: $color-3;
	position: relative;
	&:after {
		position: absolute;
		display: block;
		content: '';
		width: 4em;
		height: 2px;
		background-color: $color-2;
		right: 0;
		bottom: -6px; 
	}
}

@mixin parastyle {
	font-family: $para-txt;
	line-height: $line-height;
	font-size: 1em;
	color: $color-2;
	margin-top: 2em;
}

@mixin boxshadow($color) {
	box-shadow: 0px 0px 100px rgba($color, 0.6);
}

@mixin button ($bg_color, $txt-color){
	font-size: 0.9em;
	padding:0.8em 2em;
	text-decoration: none;
	background-color: $bg_color;
	box-shadow: inset 0 -12px 16px rgba(255, 255, 255, 0.1);
	color: $txt-color;
	font-family: 'Montserrat', 'Source Sans Pro';
	border-radius: $border-radius;
	-webkit-transition: background-color 300ms ease-in;
	transition: background-color 300ms ease-in;
	&:hover {
		cursor: pointer;
     color: $bg_color;
     background-color: $txt-color;
	}
}

@mixin navtab ($bg_color, $txt_color) {
	padding: 1em;
	background-color: $bg_color;
	color: $txt_color;
	border-radius: 4px 4px 0 0;
	text-decoration: none;
}

@mixin submitbtn {
	border: none;
	@include button($color-7 - 10,$color-3);
	font-size: 1em;
	width: 50%;
	margin: 0 auto;
	&:hover {
		background-color:$color-3 ;
		cursor: pointer;
	}
}

@mixin delbtn {
	padding: 0.7em 1.2em;
	font-family: $header-txt;
	color: $color-3;
	font-size: 0.8em;
	border: 1px solid $color-3;
	transition: {
		property: background-color, color;
		duration: 250ms, 250ms;
		timing-function: ease-in-out, ease-in-out;
	}
	&:hover {
		background-color: $color-3;
	}
}

@mixin savebtn {
	padding: 0.7em 1.2em;
	font-family: $header-txt;
	font-size: 0.8em;
	border: 1px solid $color-6;
	color: $color-6;
	transition: {
		property: background-color, color;
		duration: 250ms, 250ms;
		timing-function: ease-in-out, ease-in-out;
	}
	&:hover {
		background-color: $color-6;
		border: 0;
	}
}

/* =======================================================================================*/
/*       Keyframes*/
/* =======================================================================================*/

@-webkit-keyframes modalfromright {
    0% {
    	margin-left: 60em;
      opacity: 0;  
    }
    100% {
    	margin-left: 0;
    	opacity: 1;
    }
}

@keyframes modalfromright {
    0% {
    	margin-left: 60em;
      opacity: 0;  
    }
    100% {
    	margin-left: 0;
    	opacity: 1;
    }
} 

@-webkit-keyframes modalfromleft {
    0% {
    	margin-left: -60em;
      opacity: 0;  
    }
    100% {
    	margin-right: 0;
    	opacity: 1;
    }
} 

@keyframes modalfromleft {
    0% {
    	margin-left: -60em;
      opacity: 0;  
    }
    100% {
    	margin-right: 0;
    	opacity: 1;
    }
}

@keyframes appearfrommiddle {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	70% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

/* =======================================================================================*/
/*       Styles for Header*/
/* =======================================================================================*/

.extended-header {
	z-index: 2;
	position: fixed;
	width: 100%;
	background-color: $color-1;
}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.logo-sec {
	text-align: left;
	img {
		width: 70%;
	}
}

.get-started-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	.get-started {
		@include button($color-3, white);
		box-shadow: inset 0 -10px 12px rgba(255,255,255, 0.15), 0 0 12px rgba(0,0,0, 0.2); 
		transition: all 300ms ease-in-out;
	}
}

.poppingmodal {
	transform: translateX(-66%), translateY(-60%);
	width: 66%;
	height: 60%;
	background: white;
	opacity: 0;
}

.account-info {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.profile-img {
	width: 40px;
	height: 40px;
	margin-left: 20px;
	border-radius: 50%;
	img {
		width: 100%;
		height: 100%;
	  border-radius: 50%;
	  box-shadow: 0 0 14px rgba(black, 0.6);
  }
}

.user-name {
	p {
		font-family: $header-txt;
		color: $color-2;
		font-size: 0.9em;
	}
}

.user-profile-menu {
	 background-color: $color-1; 
   position: absolute;
   right: 0;
   top: 140%;
   width: 120%;
   box-shadow: 10px 20px 60px rgba(black, 0.3), -10px -20px 60px rgba(black, 0.3);
   
   li {
   	text-align: left;

   	a {
   		font-family: $header-txt;
      display: block;
      padding: 1em 0;
      padding-left: 2em;
      text-decoration: none;
      font-size: 0.9em;
      color: $color-2;
      transition: color 200ms ease-in;
      i {
      	margin-right: 1em;
      }
      &:hover {
      	color: $color-3;
      	cursor: pointer;
      }
   	}
  }

  &:before {
  	content: '';
  	position: absolute;
  	right: 10px;
  	top: -20px;
  	height: 0;
  	width: 0;
  	border: 10px solid transparent;
  	border-bottom-color: $color-1;
  }
}

/* =======================================================================================*/
/*       Styles for Hero Section*/
/* =======================================================================================*/

.hero-sec {
	background-color: $color-1;
	background-image: -webkit-linear-gradient(top, $color-1, rgba($color-2,0.2));
	background-image: linear-gradient(to bottom, $color-1, rgba($color-2,0.2));
	padding-bottom: 2em;
}

.intro-video {

	iframe {
		box-shadow: 0px 0px 4px rgba($color-1, 0.4), 0 20px 25px -8px rgba(0,0,0,0.4);
		border-radius: $border-radius;
		width: 100%;
		height: 26em;
	}
}

.hero-heading {
		text-align: center;
		padding: 0 3em;
		@include heading;
}

.hero-description {
	@include parastyle;
}

.intro-video {
	padding: 100px 0 0 0;
}

.hero-illustration-sec {
	padding: 6em 6em 0 6em ;
	.hero-illustration {
		width: 100%;
	}
}

/* =======================================================================================*/
/*      Landing Page*/
/* =======================================================================================*/

.walkthrough-sec-1 {
	@include walkthrough;
	.product-learning-1 {
		padding: 4em 0;
		h1 {
			@include headingGenLeft;
			text-align: left;
		}
		p {
			@include parastyle;
			padding-right: 12em;
		}
	}
	.illustration-1-sec {
    .illustration-1 {
      width: 100%;
    }
	}
}

.walkthrough-sec-2 {
	@include walkthrough;
	.product-learning-2 {
		padding: 4em 0;
		h1 {
			@include headingGenRight;
			text-align: right;
		}
		p {
			@include parastyle;
			text-align: right;
			padding-left: 12em;
		}
	}
	.illustration-2-sec {
    .illustration-2 {
      width: 100%;
    }
	}
}

.walkthrough-sec-3 {
	@include walkthrough;
	.product-learning-3 {
		padding: 4em 0;

		h1 {
			@include headingGenLeft;
			text-align: left;
		}

		p {
			@include parastyle;
			padding-right: 12em;
		}
	}

	.illustration-3-sec {

    .illustration-3 {
      width: 100%;
    }
	}
}

/* =======================================================================================*/
/*      Footer Styles*/
/* =======================================================================================*/

.extended-footer {
	background-color: $color-7;
	.footer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.feedback {
		text-decoration: none;
		color: $color-2;
		-webkit-transition: color 100ms ease-in;
		transition: color 100ms ease-in;
		font-size: 0.9em;
		&:hover {
			color: $color-3;
		}
	}

	.copyright-sec {

		span {
			color: $color-2;
			-webkit-transition: color 100ms ease-in;
			transition: color 100ms ease-in;
			font-size: 0.9em;
			a {
				text-decoration: none;
				color: #4b4a4e;
				-webkit-transition: color 100ms ease-in;
				transition: color 100ms ease-in;
				&:hover {
					color: $color-3;
				}
			}
		}
	}
}

/* =======================================================================================*/
/*      Styles for Signup-login Modals*/
/* =======================================================================================*/

.signuploginmodal {
	width: 100%;
	height: 100%;
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.7);
	transition: all 250ms ease-in;
	transition-delay: 300ms; 
}

.modal {
	padding: 40px;
	background-color: white;
	margin: 0 auto;
	border-radius: $border-radius;
	@include boxshadow(black);
	overflow: hidden;
}

.list-tabs {
	position: relative;
	text-align: center;
	padding: 0.8em 0;
	z-index: 3;
	&:after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: $color-3;
    height: 2px;
    bottom:-1px;
    left: 0;
	}

	li {
		display: inline;
		a {
			@include button($color-7,$color-5);
			-webkit-transition: all 200ms ease-in;
			transition: all 200ms ease-in;
			box-shadow: inset 4px -4px 12px rgba(0,0,0,0.06), inset -4px 4px 12px rgba(0,0,0,0.06);
			&:hover {
				color: $color-3;
				background-color: $color-7;
				font-weight: 500;
				box-shadow: none;
			}
		}
		.active {
      @include button($color-3,white);
      &:hover {
      	background-color: $color-3;
      	color: white;
      	font-weight: 500;
      	cursor: default;
      }
 		}
	}
	.close-btn {
		position: absolute;
    right: 0;
    top: 0;
    color: $color-5;
    -webkit-transition: color 100ms ease-in, -webkit-transform 100ms ease-in;
    transition: color 100ms ease-in, -webkit-transform 100ms ease-in;
    transition: transform 100ms ease-in, color 100ms ease-in;
    transition: transform 100ms ease-in, color 100ms ease-in, -webkit-transform 100ms ease-in;
    &:hover {
    	cursor: pointer;
    	color: $color-5 - 10;
    	-webkit-transform: scale(1.1);
    	        transform: scale(1.1);
    }
	}
}

.signup-sec {
	animation: {
		name: modalfromright;
		duration: 300ms;
		timing-function: ease-in-out;
		fill-mode: forwards;
	}
}

.login-sec {
	animation: {
		name: modalfromleft;
		duration: 300ms;
		timing-function: ease-in-out;
		fill-mode: forwards;
	}
}

.login-input-sec {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	input[type="email"],input[type="password"] {
		font-family: 'Montserrat';
		font-size: 1em;
		padding-left: 2.6em;
		display: block;
		width: 100%;
		height: 3.2em;
		&::-webkit-input-placeholder {
			font-family: 'Source Sans Pro';
    	font-weight: 100;
    	opacity: 0.8;
    }
	}
  
  input[type="password"] {
  	margin-top: -2em;
  }

	input[type="checkbox"]{
		width: 16px;
		height: 16px;
		padding-left: 2.6em;
		margin: 0;
		display: inline;
	}
	input[type="submit"] {
		@include submitbtn;
	}
}

.styled-checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.keep-me-logged-in {
	margin-left: 0.6em;
	font-size: 0.8em;
	color: $color-2;
}

.email {
	i {
  	position: relative;
  	color: $color-2;
  	top: 1.9em;
  	left: -6.4em;
  	font-size: 1.2em;
  }	
}

.align-link {
	position: relative;
	.password {
    i {
    	position: relative;
    	color: $color-2;
    	top: 0.2em;
	  	left: -6.4em;
	  	font-size: 1.2em;
    }		
		.forgot-password {
			display: block;
			position: absolute;
			right: 1em;
			margin: 0.4em 0;
			color: $color-2;
			text-decoration: none;
			font-size: 0.9em;
			-webkit-transition: color 200ms ease-in;
			transition: color 200ms ease-in;
			&:hover {
				color: $color-3;
				text-decoration: underline;
			}
		}
	}
}

.signup-input-sec {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	input[type="text"], input[type="email"], input[type="password"] {
		font-family: 'Montserrat';
		width: 100%;
		font-size: 1em;
		height: 3.2em;
		padding: 0 1em;
		margin-top: -2em;
		&::-webkit-input-placeholder {
			font-family: 'Source Sans Pro';
			opacity: 0.8;
			font-weight: 100;
		}
	}

	input[type="text"] {
		margin-top: 0.8em;
	}

	input[type="submit"] {
		@include submitbtn;
		margin-top: -0.5em;
	}
}

.signup-sec p, .login-sec p {
	font-family: 'Montserrat';
	color: $color-2;
	padding: 0 20em;
	text-align: center;
	margin: 1em auto;
	position: relative;

	&:before,
	&:after {
		content: "";
		width: 20em;
		height: 1px;
		position: absolute;
		background-color: $color-7 - 10;
	}

	&:before {
		left: 0;
		top: 50%;
	}

	&:after {
		right:0;
		top: 50%;
	}
}


.alternate-options {
	text-align: center;
	.signupopt1  {
		@include button(#dd4b39, white);
		p {
			display: inline;
		}
	}

	.signupopt2 {
		@include button(#4a6eaa, white);
		margin-left: 1em;
		p {
			display: inline;
		}
	}
}

.forgot-password-sec {
	width: 50%;
  margin: 0 auto;
  text-align: center;
  animation: {
  	name: appearfrommiddle;
  	duration: 300ms;
  	timing-function: ease-in-out;
  	fill-mode: forwards;
  }
  h1 {
  	text-align: center;
  	margin: 1em 0;
  	@include heading;
  	&:after {
  		height: 0;
  		width: 0;
  	} 
  }

  p {
  	@include parastyle;
  	text-align: center;
  	margin: 1.4em 0;
  }

  input[type="email"] {
  	font-family: 'Montserrat';
  	height: 3.2em;
  	width: 100%;
  	padding: 0 1em;
  	font-size: 1em;
  	margin: 3em 0 2em 0;
  	&::-webkit-input-placeholder {
  		font-family: 'Source Sans Pro';
  		font-weight: 100;
  	}
  }

  input[type="submit"] {
  	@include button($color-7,$color-3);
  	display: inline;
  	border: 0;
  	font-size: 1em;
  	margin: 0 0 1.6em 0;
  	&:hover {
  		cursor: pointer;
  	}
  }
}


/* =======================================================================================*/
/*      Dashboard-Questionnaire*/
/* =======================================================================================*/

.dashboard-wrapper {
	margin-top: 5em;
}

.date-sec {
	position: relative;
	.month-name {
		color: $color-2;
		font-family: $para-txt;
		font-size: 0.9em;
		text-align: center;
		line-height: 1.4em;
	}

	.daily-date {
		font-size: 1.2em;
    color: $color-2;
    text-align: center;
	}

	&:after {
    content: '';
    position: absolute;
    right: 0.4em;
    bottom: 0;
    height: 2px;
    width: 80%;
    background-color: $color-3;
	}
}

.nav-menu {
	display: flex;
	justify-content: center;
	ul {
		display: flex;
		align-items: flex-end;
		li {
			a {
				text-decoration: none;
				color: $color-2;
				padding: 0 1em 1.9em 1em;
				font-family: $header-txt;
				font-size: 0.9em;
			}

			.active {
				color: $color-3;
				position: relative;
				&:after {
					content: '';
					width: 100%;
					height: 6px;
					position: absolute;
					background-color: $color-3;
					position: absolute;
					left: 0;
					bottom: 0;
				}
			}
		}
	}
}

.all-questions {
	position: relative;
	padding: 1em;
}

.question-sec {
	margin-bottom: 1em;
	background-color: white;
	position: relative;
	box-shadow: 0 30px 30px -15px rgba(black, 0.1), 0 -1px 20px rgba(black, 0.1);

	input[type="text"] {
		font-family: $para-txt;
    outline: 0;
    width: 90%;
    font-size: 1.4em;
    font-weight: 400;
    color: $color-5;
    border: none;
    margin-top: 1em;
    border-bottom: 1px solid rgba(#999999, 0.2);
    &::-webkit-input-placeholder {
    	font-weight: 100;
    	opacity: 0.6;
    }
	}
}

.question-action-sec {
	position: absolute;
	right: 1.2em;
	bottom: 1.8em;
	
  span {
  	padding: 0.6em 1em;
  	&:hover {
  		color: white;
  		cursor: pointer;
  	}
  }

  .delete {
  	@include delbtn;
  }

  .save {
  	@include savebtn;
  }
}


.expected-ans {
	margin: 1em 0 0 0;
	p {
		font-family: $header-txt;
    color: $color-3;
    font-size: 0.9em; 
    margin-bottom: 1em;
    padding-bottom: 0.4em;
	}
	.number-range {
		margin-left: 3em;
		display: inline-block;
		input {
      width: 60px;
      height: 2.6em;
      padding-left: 0.4em;
      margin-left: 0.8em;
      border: 1px solid $color-4;
		}

		span {
		color: $color-2;
		font-size: 0.9em;
	  }
	}
}


.page-intro {
	text-align: center;
	font-family: 'Open Sans';
	color: $color-2;
	font-size: 1.6em;
	line-height: 1.4em;
	font-weight: 300;
}

.to-review {
	text-align: right;
	margin-bottom: 1em;
	.next-button {
		@include button($color-3, $color-7);
	}
}

.all-input-sec {
	position: relative;
	display: flex;
	align-items: center;
	.number-range-review {
		input {
      width: 60px;
      height: 2.6em;
      padding-left: 0.4em;
      margin-left: 0.8em;
      border: 1px solid $color-4;
		}

		span {
		color: $color-2;
		font-size: 0.9em;
	  }
	}
}

.yes-no-toggle-sec {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 8em;
	height: 2.2em;
	background-color: $color-5;

	input {
		display: none;
	}

	label {
		font-size: 0.9em;
		color: white;
		display: inline-block;
		padding: 0.8em 1.6em;
		box-shadow: inset 0 1px 3px rgba(black, 0.3);
		transition: background-color 300ms ease-in-out;
		&:hover {
			cursor: pointer;
		}
	}
}

.yes-no-toggle-sec input:checked + label {
	background-color: $color-6;
	box-shadow: none;
}

.saved-question {
	cursor: pointer;
	position: relative;
	margin: 1em 0;
	background-color: rgba($color-2, 0.2);
	.question-heading {
		font-family: $header-txt;
		font-size: 1.2em;
		color: $color-2;
	}
	.your-expected-answer {
		margin-top: 1em;
		color: $color-2;
	}
}

/* =======================================================================================*/
/*      Dashboard-Review Session*/
/* =======================================================================================*/

.feedback-greeting {
	@extend .page-intro;
}

.expanded-view {
	margin: 2em 0;
	box-shadow: 0 30px 30px -15px rgba(black, 0.1), 0 -1px 20px rgba(black, 0.1);
}

.active-question-head {
	font-family: $header-txt;
	font-size: 1.4em;
	font-weight: 400;
	color: $color-2;
}

.question-action-sec-review {
	position: absolute;
	right: 0;
	bottom: 1em;
	span {
		&:hover {
			color: white;
			cursor: pointer;
		}
		&:last-child {
			margin-left: 1em;
		}
	}
	.save {
		@include savebtn;
	}
	.delete {
		@include delbtn;
	}
}

.your-ans {
	@extend .expected-ans;
}

.add-question {
	@include button($color-3, white);
	&:hover {
		background-color: $color-7;
	}
}

.meta-details {
	display: flex;
	align-items: flex-end;
	margin-bottom: 1.4em;
}


/* =======================================================================================*/
/*      Dashboard-Statistics*/
/* =======================================================================================*/

.calendar-sec {
	border-radius: $border-radius;
	background-color: white;
	box-shadow: 0 18px 15px -8px rgba(0,0,0,0.2), 0px 0px 4px 1px rgba(0,0,0,0.2);
	.month-name {
		border-radius: 4px 4px 0 0;
		background-color:$color-1; 
		color: white;
		padding: 2em;
    text-align: center;
    p {
    	font-size: 1.2em;
    }
	}
	.calendar {
		padding: 1.1em;
		.calendar-dates {
			table {
				margin: 0 auto;
				border-spacing: 0;
				th,
				td {
					padding: 1em 0.8em;
					text-align: center;
					border: 1px solid $color-5;
				}
	      th {
	      	color: $color-1;
	      }
	      td {
	      	font-size: 0.9em;
	      	-webkit-transition: all 200ms ease-in;
	      	transition: all 200ms ease-in;
	      	&:nth-child(3n+1) {
	      		background-color: $color-6;
	      		color: white;
	      		&:hover {
	      			background-color: white;
	      			color: $color-6;
	      		}
	      	}
	      	&:hover {
	      		background-color: $color-5;
	      		color: $color-1;
	      		cursor: pointer;
	      	}
	      }
			}
		}
	}
}

/* =======================================================================================*/
/*      User Profile Section*/
/* =======================================================================================*/

.extended-profile-section {
	background-color: $color-1;
	background-image: -webkit-linear-gradient(top, $color-1, rgba($color-2,0.2));
	background-image: linear-gradient(to bottom, $color-1, rgba($color-2,0.2));
	height: 93vh;
}

.userinfo-sec {
	padding: 1em;
	position: relative;
	background-color: white;
	color: $color-2;
	margin-top: 8em;
  @include boxshadow(black);

	.user-profile-save-btn {
		text-align: center;
		input[type="submit"]{
			@include submitbtn;
		}
	}

	table {
		width: 100%;
	}

  .img-sec {
  	position: relative;
  	img {
  		width: 100%;
  	}
    
    i {
    	position: absolute;
    	font-size: 2em;
    	color: rgba(black, 0.4);
    	bottom: 0.6em;
    	right: 0.6em;
    	transition: color 200ms ease-in-out;
    	&:hover {
    		cursor: pointer;
    		color: rgba(black, 0.8);
    	}
    } 
  }

  th {
  	text-align: left;
  	font-family: $header-txt;
  	color: $color-3;
  	border: 1px solid $color-4 + 20;
  	padding: 1.2em 1.8em;
  }

  tr{
  	input[type="password"] {
  		border: 1px solid $color-7 - 10;
  		padding-left: 0.4em;
  		font-size: 1em;
      height: 2.4em;
  	}
    &:nth-child(2n) {
    	background-color: $color-7;
    }
  }

	td {
		font-size: 0.9em;
		padding: 1.2em 2em;
		border: 1px solid $color-4 + 20;
	}

	.edit-profile {
		padding: 0.8em;
		opacity: 0.6;
		position: absolute;
		bottom: 1.4em;
		right: 2.2em;
		transition: opacity 200ms ease-in-out;
		&:hover {
			cursor: pointer;
      opacity: 1;
      background-color: $color-7 - 10;
		}
		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 3px;
			top: 100%;
			left: 0;
			background-color: $color-4;
		}
	}
}